# Project exclude paths
/node_modules/
/node_modules/@discordjs/builders/
/node_modules/@discordjs/collection/
/node_modules/@discordjs/formatters/
/node_modules/@discordjs/rest/
/node_modules/@discordjs/util/
/node_modules/@discordjs/ws/
/node_modules/@sapphire/async-queue/
/node_modules/@sapphire/shapeshift/
/node_modules/@sapphire/snowflake/
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/@types/ws/LICENSE
/node_modules/@types/ws/README.md
/node_modules/@vladfrangu/async_event_emitter/
/node_modules/discord.js/
/node_modules/fast-deep-equal/LICENSE
/node_modules/fast-deep-equal/README.md
/node_modules/fast-deep-equal/es6/index.js
/node_modules/fast-deep-equal/es6/react.js
/node_modules/fast-deep-equal/index.js
/node_modules/fast-deep-equal/react.js
/node_modules/magic-bytes.js/
/node_modules/ts-mixer/
/node_modules/ts-mixer/dist/cjs/
/node_modules/ts-mixer/dist/esm/index.js
/node_modules/ts-mixer/dist/esm/index.min.js
/node_modules/tslib/
/node_modules/tslib/modules/index.js
/node_modules/undici/
/node_modules/undici/types/README.md
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
/.idea
*.iml
.directory
.env
